## mako
<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../static_content.html'/>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About Us")}</%block>

<div class="page-heading">
    <h1>${_("About Us")}</h1>
</div>
<section class="static-content">
    <div class="grid-manual grid-container">
        <div class="inner-container about-page">
            <div class="row">
                <div class="sm-col-8">
                    ## <h1>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</h1>
                    ## <h2>Lorem ipsum dolor sit amet</h2>
                    <p>KahmaVet is a division of K2 Medical. Our vision is to be recognised as the premier South
                        African-owned medical device company. We aim to do this by adding value to our customers through
                        offering quality products and services, by consistently meeting our customers’ expectations and
                        by promoting and adhering to sound ethical business practices.
                    </p>

                    <h2>Media Inquiries</h2>
                    <p>Marianne Lomberg, Commercial and Technical Director <br/>
                        Tel.: +27 10 045 2500 <br/>
                        Fax.: +27 10 045 2600 <br/>

                        <a href="" class="brand-link">marianne.lomberg@kahmavet.co.za</a><br/>

                    </p>
                </div>
                <div class="sm-col-4 mission-statement">
                    <img src="${static.url('images/about-page-image.png')}" alt="Mission Statement">
                    <p>“Our vision is to be recognised as the premier South African-owned medical device company.”</p>

                </div>
            </div>
        </div>
    </div>
</section>
