<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>

<%block name="pagetitle">${_("FAQ's")}</%block>

<div class="page-heading">
    <h1>${_("General FAQs")}</h1>
</div>
<section class="static-content">

    <div class="grid-manual grid-container">
        <div class="inner-container">
            <div class="row">
                <div class="col col-12 sm-col-12 md-col-3">
                    <ul class="list-divided">
                        <li class="item"><a href="#academic-planning" class="brand-link">${_("REGISTRATION")}</a></li>
                        <li class="item"><a href="#registration" class="brand-link">${_("COURSE SIGN UP")}</a></li>

                    </ul>
                </div>
                <div class="col col-12 sm-col-12 md-col-9">
                    <h2 id="academic-planning">${_("REGISTRATION")}</h2>
                    <article class="response">
                        <h3 class="question">CREATE YOUR ACCOUNT</h3>
                        <div class="answer" id="edx_basics_faq_answer_0">
                            <p>
                                Before signing up for courses, you need to create your own user account. Click on Create
                                Account in the navigation bar above to get started. You will be redirected to the
                                registration page. Fill in your details and accept the Terms and Conditions to proceed.
                            </p>
                        </div>
                    </article>

                    <article class="response">
                        <h3 class="question">ACTIVATION LINK</h3>
                        <div class="answer" id="edx_basics_faq_answer_1">
                            <p>
                                Once you have created an account, you MUST click the activation link that was sent to
                                your e-mail address. Check your spam folder if you did not receive the activation link
                                in your inbox. Once you have clicked the activation link, your account is active.
                            </p>
                        </div>
                    </article>

                    <article class="response">
                        <h3 class="question">CUSTOMISING YOUR PROFILE</h3>
                        <div class="answer" id="edx_basics_faq_answer_2">
                            <p>
                                Once your account is active, you will be able to customise your profile by adding a
                                profile photo, your preferred language, and even a short description about yourself.
                                This information will be visible to your fellow learners and the KahmaVet course team.
                                To get to your profile, click the dropdown menu next to your name on the navigation bar
                                above (you must be signed in) and then click Profile. There are also important Account
                                settings available in the dropdown menu.
                            </p>
                        </div>
                    </article>

                    <a href="#" class="brand-link back-to-top">${_("Back to top")}</a>

                    <h2 id="registration">${_("COURSE SIGN UP")}</h2>
                    <article class="response">
                        <h3 class="question">HOW DO I SIGN UP FOR A COURSE?</h3>
                        <div class="answer" id="edx_basics_faq_answer_0">
                            <p>
                                To view all available courses, click on Courses in the navigation bar above. To learn
                                more about each course, click on it to be navigated to the Course About Page, which
                                offers more details about the course. If you want to be signed up for that course,
                                please request access by contacting KahmaVet.
                            </p>
                        </div>
                    </article>

                    <article class="response">
                        <h3 class="question">WHERE IS MY COURSE?</h3>
                        <div class="answer" id="edx_basics_faq_answer_1">
                            <p>
                                Once KahmaVet has granted you access to the course, the course will show up on your
                                profile. Simply click on Dashboard on the navigation bar above (you must be signed in)
                                to see all the courses you have been signed up for.
                            </p>
                        </div>
                    </article>

                    <article class="response">
                        <h3 class="question">START LEARNING</h3>
                        <div class="answer" id="edx_basics_faq_answer_2">
                            <p>
                                In your dashboard, click View Course on the course you want to view. Once redirected,
                                you will be inside the course, and you will see tabs such as Home, Course, Progress and
                                Discussion. The Home tab shows messages from the course team. The Course tab shows all
                                the course content such as videos and tests. The Progress tab will start showing your
                                test results as soon as you have attempted some tests. The Discussion tab shows the
                                discussion forum and usually some FAQs.
                            </p>

                        </div>
                    </article>

                    <a href="#" class="brand-link back-to-top">${_("Back to top")}</a>

                </div>
            </div>
        </div>
    </div>
</section>

<%block name="js_extra">
<script src="${static.url('js/animation-scroll.js')}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var open_question = "";
        var question_id;
        $('.response').click(function () {
            $(this).toggleClass('opened');
            answer = $(this).find(".answer");
            answer.slideToggle('fast');
        });
    });

</script>
</%block>
