## mako
<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../static_content.html'/>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>

<div class="page-heading">
    <h1>${_("Privacy Policy")}</h1>
</div>
<section class="static-content">
    <div class="grid-manual grid-container">
        <div class="inner-container">
            <div class="row">

                <div class="col col-12 sm-col-12 md-col-9">

                    <p>Welcome to the KahmaVet website. The information provided on this website is for general
                        information
                        and in certain circumstances also for educational purposes, the information is provided for no
                        other
                        purpose.</p>
                    <p>
                        PLEASE READ AND REVIEW THIS DISCLAIMER & WEBSITE USE AGREEMENT CAREFULLY EACH TIME BEFORE
                        ACCESSING
                        THE CONTENT OF THIS WEBSITE OR USING THIS WEBSITE AS THEY MAY CHANGE FROM TIME TO TIME. YOUR
                        ACCESS
                        TO, AND USE OF THE INFORMATION CONTAINED ON THIS WEBSITE IS SUBJECT TO THIS DISCLAIMER & WEBSITE
                        USE
                        AGREEMENT. BY ACCESSING AND USING THIS WEBSITE, YOU ACCEPT, WITHOUT LIMITATION OR QUALIFICATION
                        THIS
                        DISCLAIMER & WEBSITE USE AGREEMENT.
                    </p>
                    <p>
                        KahmaVet makes no representations and gives no warrantees about the accuracy nor suitability of
                        the
                        content published on this website, nor that the services will be free from errors or omissions
                        or
                        that the use of the website will be uninterrupted. Should you rely on the information and
                        technology
                        contained in this website, then you do so at your own risk.
                        The entire content of this website is subject to copyright protection. None of the content of
                        this
                        website may be copied other than for non-commercial individual reference, and only if all
                        copyright
                        or other proprietary notices are retained. No modification of the information is allowed.
                        Nothing
                        contained herein shall be construed as conferring by implication, estoppel or otherwise any
                        license
                        or right under any patent or trademark of KahmaVet, or any third party. If you should link to
                        any
                        third-party websites from this website, you shall be bound by and undertake to comply with the
                        copyright provisions of each such website.</p>
                    <p>
                        This website may contain general information relating to various veterinary conditions and their
                        treatment. Such information is provided for information purposes only. This information is not
                        intended to be a substitute for the advice of a healthcare professional, or a recommendation for
                        any
                        particular treatment plan.</p>
                    <p>
                        This site may electronically collect, store and use private information from users. Users of
                        this
                        site consent to this. Information may be collected electronically by using cookies, or
                        information
                        is collected when it is provided voluntarily by the user. Users may determine cookie use
                        independently through their browser settings. Information so collected shall not be disclosed to
                        any
                        third party unless agreed upon between the user and KahmaVet, or through due legal process.</p>
                    <p>
                        KahmaVet shall bear no responsibility and also disclaims all liability for any claim, loss, cost
                        and
                        expense (including reasonable attorneys’ fees and disbursements), damage or other liability,
                        either
                        directly or indirectly, attributable to the use of this website or reliance upon information
                        provided through the facilities available on this website. You agree to indemnify, defend and
                        hold
                        harmless KahmaVet, its officers, directors, employees, agents, suppliers and third party
                        partners
                        from and against all claims, losses, costs and expenses (including reasonable attorneys’ fees
                        and
                        disbursements), damages and other liabilities, resulting from any violation by you of this
                        Disclaimer & Website Use Agreement.</p>
                    <p>
                        This Disclaimer & Website Use Agreement and your use of this website shall be governed by the
                        laws
                        of the Republic of South Africa. Any legal action or proceeding related to this website shall be
                        brought exclusively in the High Courts of the Republic of South Africa.</p>
                    <p>
                        KahmaVet reserves the right to alter or delete materials from this website at any time at its
                        discretion and without notice. Furthermore KahmaVet reserves the right to amend this Disclaimer
                        &
                        Website Use Agreement at any time by posting the amended Disclaimer & Website Use Agreement on
                        this
                        website. Unless otherwise stated, the current version will apply each time you access this
                        website.
                        Please direct any queries you may have in regard to this disclaimer by contacting KahmaVet at
                        +27 10
                        045 2500 between 7:30 and 16:30 in order to log your query.</p><br/><br/>
                    KahmaVet’s corporate information and names of its directors are:<br/>
                    KahmaVet Proprietary Limited<br/>
                    Enterprise No: 1997/019128/07<br/>
                    Postal Address: PO Box 8413, Midrand, 1685, South Africa<br/>
                    Office: 106 16th road, Midrand, Gauteng, 1686, South Africa<br/>
                    DIRECTORS: S Kahanovitz (CEO), M Kahanovitz (CFO)<br/>

                    <a href="#" class="brand-link back-to-top">${_("Back to top")}</a>

                </div>
            </div>
        </div>
    </div>
</section>
